*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}


/* header section */

header{
    display: flex;
    gap: 90px;
    justify-content: center;
    background: rgb(251, 235, 240);
}
.header-content{
    margin: 150px 0px 120px 90px;
}
.header-content > h3, p, button {
    margin-bottom: 32px;
}
.header-title{
    font-size: 50px;
    color: #272727;
    font-weight: 800;
}
.para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;

}
.btn{
    width: 180px;
    height: 70px;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.header-image{
    background: url('Images/pngwing\ 10.png');
    margin: 50px 70px 0px 0px;
    width: 600px;
    height: 800px;
    background-position: bottom;
    background-repeat: no-repeat;

}
/* bonus section 1 / featured section */
.featured{
    text-align: center;
    margin: 180px;
}
.featured > h3{
    margin-bottom: 25px;
}
.featured-photos{
    margin: 20px 10%;
    gap: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around ;
}
.featured-photos > .one {
    width: 450px;
    height: 550px;
    border-radius: 300px 300px 0px 0px;
    margin-top: 50px;
}
.featured-photos > .f {
    background: rgba(167, 33, 98, 0.15);
    padding-top: 120px;
}
.featured-photos > .s {
    background: rgba(5, 151, 160, 0.15);
    padding-top: 150px;
    padding-left: 20px; 
}
.featured-photos > .l{
    background: rgba(71, 125, 17, 0.15);
    padding-top: 75px;
}
h6{
    display: block;
    color: #111;
    font-size: 20px;
    text-decoration: underline;
}
.s > h6{
    margin-top: 30px;
}

/* Hot Deal Section */
.hot-deal{
    background: rgb(251, 235, 240);
    display: flex;
    gap: 200px;
    margin: 120px 0px;
    align-items: center;
    justify-content: center;
}
.hot-deal-details{    
    text-align: center;
    margin-top: 200px;
}
.common-h3{
    font-size: 40px;
}
.hot-deal-image{
    margin: 100px 0;
    height: 420px;   
}

/* Social Section */
.insta{
    margin-bottom: 20px;
}
.gallary {
    width: 80%;
    margin: 25px 10%;
    display: flex;
    justify-content: space-between;
}
.gallary > img{
    width: 280px;
}
.social{
    text-align: center;
    border: 0;
}
/* bonus section 2 */
.fb{
    margin-top: 90px;
    color: rgb(0, 107, 228);
    font-weight: 800;
    font-size: 55px;
}
.round{
    border-radius: 50%;
}


/* get latest deal section */
.get-latest-deals{
    background: url('Images/Rectangle\ 9.png');
    width: 80%;
    height: 450px;
    margin: 120px 10%;
    text-align: center;
    padding: 120px 250px;
    background-size: cover;
}
.common-para{
    font-size: 20px;
    color: rgba(39, 39, 39, 0.80);

}
.get-latest-deals > input[type=email] {
    width: 450px;
    height: 70px;
    padding: 20px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    color: rgba(39, 39, 39, 0.80);
    margin-right: 15px;

}

/* footer Section */
footer{
    width: 100%;
    height: 450px;
    color: #fff;
    background: #111010;
    text-align: center;
    padding: 120px 400px;
}
footer > h3{
    font-size: 50px;
    margin-bottom: 25px;
}
footer > p{
    font-size: 18px;
}
small{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}